*{
	margin:0;
	padding: 0;
}
nav{
	background-color: transparent;
	box-shadow: none;
	position: absolute;
	bottom:20vh;
	z-index: 1;
}
.brand-logo{
	left: 30px;
}
.cards{
	position:absolute;
	left: 0;
	width: 100vw;
	height: 30vh;
	background-color: white;
}
#card0{
	top:70vh;
}
#card1{
	top:150vh;
}
#card2{
	top:300vh;
	height: 1vh;
}
#map{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: -2;
}
#map1{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: -1;
	background-image: url("https://picsum.photos/200/300")
}
#map2{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: -2;
	background-image: url("https://picsum.photos/200/200")
}
.collapsible-body{
	background-color: white;
}